@font-face {
    font-family: 'Helvetica Neue';
    src: local('HelveticaNeueCyr-UltraLight'), local('HelveticaNeueCyr-UltraLight'),
      url('~@/assets/fonts/HelveticaNeueCyr-UltraLight.woff') format('woff'),
      url('~@/assets/fonts/HelveticaNeueCyr-UltraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
  }

  @font-face {
    font-family: 'Helvetica Neue';
    src: local('HelveticaNeueCyr-Light'), local('HelveticaNeueCyr-Light'),
      url('~@/assets/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
      url('~@/assets/fonts/HelveticaNeueCyr-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    background: rgba(96, 87, 99, 1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(43.5943px);
    border-radius: 4px; 
    font-family: 'Helvetica Neue', serif;
    font-weight: 200;
    font-size: 18px;
    padding-bottom: 5px;
    padding-right: 1px;
    padding-left: 1px;
    min-width: 234px;
}

.display {
    grid-column: 1 / 5;
    text-align: right;
    font-weight: 300;
    line-height: 21px;
    color: #fff;
    font-weight: 300;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}

.result {
    padding-top: 0;
    font-size: 21px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D8D8D8;
    cursor: pointer;
    font-family: 'Helvetica Neue', serif;
    border: 0;
    font-size: 18px;
    font-weight: 200;
}

.btn:hover {
    background: #d0cdcd;
}
.btn:focus {
    outline: none;
}

.zero {
    grid-column: 1 / 4;
    border-radius: 0px 0px 0px 3px;
}

.operation {
    grid-column: 1 / 5;
    text-align: right;
    font-weight: 300;
    background: rgba(96, 87, 99, 1);
    border: 0;
    padding: 15px;
    color: #fff;
    font-size: 18px;
}

.operation:focus {
    outline: none;
}

.operator {
    background: #B15E5E;
    color: #fff;
}

.operator:hover {
    background: #a05555;
}

.operator:last-child {
    border-radius: 0px 0px 3px 0px;
}